<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rice</key>
	<array>
		<dict>
            <key>count</key>
            <string>0</string>
            <key>deletePriceKey</key>
            <string>¥38</string>

			<key>priceKey</key>
			<string>56.9</string>
			<key>nameKey</key>
			<string>佳惠东北大米10KG</string>
			<key>imageKey</key>
			<string>米1</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
            <key>deletePriceKey</key>
            <string>¥38</string>

			<key>priceKey</key>
			<string>37.9</string>
			<key>nameKey</key>
			<string>金龙鱼优质东北大米5KG</string>
			<key>imageKey</key>
			<string>米2</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
            <key>deletePriceKey</key>
            <string>¥38</string>

			<key>priceKey</key>
			<string>83.9</string>
			<key>nameKey</key>
			<string>福临门金典特选优质东北大米5KG</string>
			<key>imageKey</key>
			<string>米3</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
            <key>deletePriceKey</key>
            <string>¥38</string>

			<key>priceKey</key>
			<string>65.9</string>
			<key>nameKey</key>
			<string>金龙鱼优质东北大米10KG</string>
			<key>imageKey</key>
			<string>米4</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
            <key>deletePriceKey</key>
            <string>¥38</string>

			<key>priceKey</key>
			<string>49.9</string>
			<key>nameKey</key>
			<string>复义仓稻花香米5KG</string>
			<key>imageKey</key>
			<string>米5</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
            <key>deletePriceKey</key>
            <string>¥38</string>

			<key>priceKey</key>
			<string>51.9</string>
			<key>nameKey</key>
			<string>粒粒哂富哂香米5KG</string>
			<key>imageKey</key>
			<string>米6</string>
		</dict>
	</array>
	<key>vegetable</key>
	<array>
		<dict>
			<key>count</key>
			<string>0</string>
			<key>priceKey</key>
			<string>29.7</string>
			<key>deletePriceKey</key>
			<string>¥38</string>
			<key>nameKey</key>
			<string>金玉满堂（三文鱼＋青豆）300G</string>
			<key>imageKey</key>
			<string>菜1</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
			<key>deletePriceKey</key>
			<string>¥38</string>
			<key>priceKey</key>
			<string>22.9</string>
			<key>nameKey</key>
			<string>西兰花＋鸡胸肉350G</string>
			<key>imageKey</key>
			<string>菜2</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
			<key>deletePriceKey</key>
			<string>¥38</string>
			<key>priceKey</key>
			<string>12.3</string>
			<key>nameKey</key>
			<string>丝瓜＋荷包蛋380G</string>
			<key>imageKey</key>
			<string>菜3</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
			<key>deletePriceKey</key>
			<string>¥38</string>
			<key>priceKey</key>
			<string>19.5</string>
			<key>nameKey</key>
			<string>剁椒＋金针菇＋豆腐400G</string>
			<key>imageKey</key>
			<string>菜4</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
			<key>deletePriceKey</key>
			<string>¥38</string>
			<key>priceKey</key>
			<string>57.9</string>
			<key>nameKey</key>
			<string>豆腐鱼头500G</string>
			<key>imageKey</key>
			<string>菜5</string>
		</dict>
		<dict>
            <key>count</key>
            <string>0</string>
			<key>deletePriceKey</key>
			<string>¥38</string>
			<key>priceKey</key>
			<string>37.9</string>
			<key>nameKey</key>
			<string>培根肉280G</string>
			<key>imageKey</key>
			<string>菜6</string>
		</dict>
	</array>
</dict>
</plist>
