<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>setTime</key>
	<array>
		<string>20</string>
		<string>25</string>
		<string>30</string>
		<string>35</string>
		<string>40</string>
		<string>45</string>
	</array>
	<key>material</key>
	<dict>
		<key>蔬菜</key>
		<array>
			<string>青菜</string>
			<string>菠菜</string>
		</array>
		<key>海鲜</key>
		<array>
			<string>虾</string>
			<string>清蒸鱼</string>
		</array>
	</dict>
	<key>weight</key>
	<array>
		<string>100</string>
		<string>200</string>
		<string>300</string>
		<string>400</string>
		<string>500</string>
	</array>
	<key>cookType</key>
	<array>
		<string>再加热</string>
		<string>热牛奶</string>
		<string>微波解冻</string>
		<string>自动</string>
	</array>
</dict>
</plist>
